$control-bar-bg-color: #f4f4f4;
$control-bar-text-color: #353535;

$bg-color: hsla(144, 42%, 89%, 100%);
$bg-color2: hsla(112, 100%, 97%, 100%);
$bg-color3: hsla(130, 54%, 94%, 100%);
$fo-color: hsla(0, 0%, 14%, 100%);
$danger-color: hsla(0, 0%, 14%, 100%);
