@import "./globals";

.wrapper {
  box-sizing: border-box;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  width: 100%;
  padding: 0 2%;
}
.wrapper {
  @include themify($themes) {
    background-color: themed("bg-color3");
    color: themed("fo-color");
  }

  border: transparent;
}
@media screen and (min-width: 768px) {
  .wrapper {
    padding: 0 10%;
  }
}
@media screen and (min-width: 1080px) {
  .wrapper {
    padding: 0 15%;
  }
}
