.wrapper {
  box-sizing: border-box;
  display: flex;
  // align-items: center;
  // justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  width: 100%;
  padding: 0 5%;
}

@media screen and (min-width: 768px) {
  .wrapper {
    padding: 0 10%;
  }
}
@media screen and (min-width: 1080px) {
  .wrapper {
    padding: 0 15%;
  }
}

table {
  text-align: center;
  border-collapse: collapse; /* 'cellspacing' equivalent */
}

table td,
table th {
  padding: 0.5rem; /* 'cellpadding' equivalent */
}
