@import "../../../sass/globals";
.overlay {
  position: fixed;
  inset: 0;
  display: block;
  background-color: hsla(0, 0%, 0%, 0.25);
  z-index: 5;
}
.actions-wrapper {
  display: none;
  position: absolute;
  flex-direction: column;
  width: 15rem;

  top: 1rem;
  @media screen and (min-width: 768px) {
    right: 1rem;
    top: -1rem;
  }
}
.action-button {
  background-color: transparent;
  padding: 0;
  border-radius: 1000px;
  transition: transform 0.2s;
  border: none;
  &:hover {
    transform: scale(1.3);
  }
}
.todo-actions-popup-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.action-buttons-wrapper {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  border-radius: $border-radius;

  z-index: 10;
  @include themify($themes) {
    background-color: themed("bg-color");
  }

  label {
    cursor: pointer;
  }
  .icon-button-wrapper {
    display: flex;
    // justify-content: space-between;
    gap: 1rem;
  }

  button {
    // background-color: transparent;
    @include themify($themes) {
      background-color: themed("bg-color2");
    }
    border-radius: $border-radius;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }

  .title-close-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    label {
      padding: 0 1rem;
    }
    .close-button {
      right: 1rem;
      top: 0.5rem;
      padding: 0rem;

      transition: transform 0.2s;
      &:hover {
        transform: scale(1.3);
      }
    }
  }
}

.actions-wrapper[aria-hidden="false"] {
  display: flex;

  .overlay {
    display: block;
  }
}
