@import "../../sass/globals";

.filter-action-wrapper {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: $border-radius;
  gap: 1rem;
  width: 100%;

  .search-collapse-wrapper {
    display: flex;
    gap: 1rem;
    width: 100%;

    @media screen and (min-width: 1080px) {
      width: 40%;
    }

    .expand-button,
    .collapse-button {
      padding: 0;
      background-color: transparent;
    }
  }

  @media screen and (min-width: 768px) {
    .expand-button,
    .collapse-button {
      display: none;
    }
  }

  @include themify($themes) {
    background-color: themed("bg-color");
  }

  @media screen and (min-width: 1080px) {
    flex-direction: row;
  }

  .action-buttons-wrapper {
    display: none;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    max-height: 50%;

    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: row;
    }

    button {
      text-transform: capitalize;
      border-radius: $border-radius;
      width: 100%;
      @include themify($themes) {
        background-color: themed("bg-color2");
      }
    }
    @media screen and (min-width: 1080px) {
      width: 60%;
    }
  }
}

[data-collapsed="false"] {
  .action-buttons-wrapper {
    @media screen and (max-width: 768px) {
      display: flex;
    }
  }
}
