@import "../../../../sass/globals";

.filter-form {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.add-filter-form-buttons {
  margin-top: 0.5rem;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;

  @include themify($themes) {
    button {
      background-color: themed("bg-color2");
    }
  }
  button:first-of-type {
    background-color: transparent;
  }
}
