.sorter-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.buttons-wrapper {
  margin-top: 0.5rem;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;

  :first-child {
    background-color: transparent;
  }
}
