@import "../../../../sass/globals";

.view-sorters-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .sorter-details-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
    border-radius: $border-radius;
    border: 1px solid grey;
    padding: 1rem;

    @include themify($themes) {
      border-color: themed("border-color");
    }
    .sorter-values {
      display: flex;
      flex-direction: column;

      div {
        padding: 0.5rem;
        display: flex;
        justify-content: space-between;
      }

      div + div {
        border-top: 1px solid;
        @include themify($themes) {
          border-color: themed("border-color");
        }
      }
    }
  }
}
