.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(73, 86, 145);
  padding: 20px;
  z-index: 101;
  border-radius: 16px;
}

.modal:focus {
  outline: none;
}
