@import "../../sass/globals";

.control-bar-wrapper {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  z-index: 5;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.control-bar {
  display: flex;
  padding: 0.5rem;
  gap: 0.5rem;
  border-radius: $border-radius;
  width: max-content;

  @media screen and (min-width: 600px) {
    gap: 2rem;
  }
}

.control-bar button {
  // width: 100%;
  background-color: transparent;
  border-radius: $border-radius;
  @include themify($themes) {
    color: themed("fo-color-light");
  }
}

.control-bar {
  @include themify($themes) {
    background-color: themed("bg-color");
    color: themed("fo-color");
  }
}
