@import "../../sass/globals";

.control-bar {
  /* layout */
  display: flex;
  align-items: center;
  justify-content: center;
  // flex-direction: column;
  /* spacing */
  padding: 1.5rem;
  gap: 1rem;

  /* border-radius */
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.control-bar button {
  // width: 100%;
  background-color: transparent;
  transition: transform 200ms;
  &:hover {
    transform: scale(1.1);
  }
}

.control-bar {
  @include themify($themes) {
    background-color: themed("bg-color");
    color: themed("fo-color");
  }
}
