@import "../../../sass/globals";

.searchbar-container {
  display: flex;
  width: 100%;
  border-radius: $border-radius;
  overflow: hidden;
  @media screen and (min-width: 1080px) {
    width: 40%;
  }
}

.searchbar-input,
.searchbar-btn {
  border: none;
}

.searchbar-container:focus-within {
  @include themify($themes) {
    outline: 4px solid themed("border-color");
  }
}

.searchbar-input::placeholder {
  @include themify($themes) {
    color: themed("fo-color");
  }
}
.searchbar-input {
  width: 92%;
  @include themify($themes) {
    background-color: themed("bg-color2");
    color: themed("fo-color");
  }
  outline: transparent;
  padding: 1rem 1.5rem;
  padding-left: 0;

  font-family: inherit;

  &::placeholder {
    @include themify($themes) {
      color: themed("fo-color-dim");
    }
  }
}

.searchbar-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;

  padding: 1rem;
  cursor: pointer;
  transition: transform 100ms;
  @include themify($themes) {
    background-color: themed("bg-color2");
    color: themed("fo-color-dim");
  }
}

@media (min-width: 400px) {
  .searchbar-btn {
    flex: 1;
  }
}

.searchbar-btn:focus {
  outline: none;
}

.searchbar-btn:active {
  transform: translateY(4px);
}
