@import "../../sass/globals";

.todos-wrapper {
  display: flex;
  flex-direction: column;
}

.todos-view {
  overflow: auto;
  height: 65vh;

  // scrollbar styling
  &::-webkit-scrollbar {
    width: 0.5rem;
  }
  &::-webkit-scrollbar-thumb {
    @include themify($themes) {
      background-color: themed("bg-color4");
    }
  }
  &::-webkit-scrollbar-track {
    @include themify($themes) {
      background-color: themed("bg-color3");
    }
  }
}
.todo-header,
.todo-row {
  padding: 1rem 0rem;
  display: grid;
  $pw: 6.25;
  grid-template-columns: 1fr 2.5fr 5fr 2fr 2fr 2.5fr 1fr;
  gap: 1rem;
}
.todo-row {
  & > * {
    text-align: center;
  }

  @include themify($themes) {
    border-bottom: 1px solid themed("bg-color4");
  }
  // &:first-child {
  //   padding: 0;
  //   border: none;
  // }
  &:last-child {
    border: none;
  }
}
