@import "../../sass/globals";

.todos-wrapper {
  display: flex;
  flex-direction: column;
}

.todos-view {
  overflow: auto;
  height: 50vh;
}
[data-collapsed="true"] + .todos-wrapper {
  .todos-view {
    height: 65vh;
  }
}

.todos-view {
  margin-top: 1rem;
  @media screen and (min-width: 768px) {
    margin-top: 0;
    height: 65vh !important;
  }
}
.no-todos {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  @include themify($themes) {
    color: themed("fo-color-light");
  }
  line-height: 2rem;
  word-spacing: 0.1rem;
}

.todo-header,
.todo-row {
  padding: 1rem 0rem;
  $pw: 6.25;
  grid-template-columns: 1fr 2.5fr 5fr 2fr 2fr 2.5fr 1fr;
  gap: 1rem;
}
.todo-header {
  display: none;

  @media screen and (min-width: 768px) {
    display: grid;
  }
}
.serial {
  @include themify($themes) {
    color: themed("fo-color-light");
  }
}
.priority {
  font-size: x-small;
}
.serial,
.title,
.description {
  align-self: center;
}

.status {
  font-weight: 400;
  font-size: 0.9rem;
  border-radius: $border-radius;
  width: fit-content;
  justify-self: center;
  padding: calc($border-radius / 4) $border-radius;
}

.todo-row {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    display: grid;
    .serial,
    .title,
    .description {
      align-self: flex-start;
    }
  }
  & > * {
    text-align: center;
  }

  align-items: center;

  @include themify($themes) {
    border-bottom: 1px solid themed("bg-color4");
  }
  // &:first-child {
  //   padding: 0;
  //   border: none;
  // }
  &:last-child {
    border: none;
    margin-bottom: 3rem;
  }
}
